* {
  font-family: "Open Sans", sans-serif;
}

.links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-blocks-control {
  align-items: center;
  display: grid;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.btn-links {
  border-radius: 10px;
  font-size: 14px;
  margin-block: 5px;
  margin-inline: 8px;
  padding-block: 7px;
  padding-inline: 3px;
  text-decoration: none;
  text-align: center;
  transition: 276ms;
  width: 200px;
}

.link-conhecimentos-bancarios,
.link-tecnologia-informacao,
.link-matematica-financeira,
.link-probabilidade-estatistica,
.link-comportamentos-digitais,
.link-portugues,
.link-ingles {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 10px;
}
