.switch-mode-margin {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.switch-mode {
  display: flex;
  justify-content: baseline;
}

.checkbox {
  opacity: 0;
  position: relative;
}

.label {
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  height: 26px;
  width: 60px;
  transform: scale(0.8);
}

.label .switch-button {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 26px;
  width: 26px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .switch-button {
  transform: translateX(34px);
}

.fa-moon {
  fill: #fff;
}

.fa-sun {
  fill: #fff;
}

body {
  background-color: #fafafa;
  color: #000;
  transition: 0.2s linear;
}

body.dark {
  background-color: #232c35;
  color: #fafafa;
}

.header {
  background-color: #10c5ea;
  padding-inline: 16px;
  transition: 0.2s linear;
}

.header.dark-mode {
  background-color: #114b8c;
}

.label {
  background-color: #008db1;
  transition: 0.2s linear;
}

.label.dark-mode {
  background-color: #457bc2;
}

.nav-list.dark-mode a:hover {
  color: #15d7fd; 
}

.dark-mode .home-icon:hover path {
  fill: #15d7fd; 
}

.timeline-monday {
  background-color: #5ddff3;
}
.timeline-tuesday {
  background-color: #79e7f6;
}
.timeline-wednesday {
  background-color: #96eff9;
}
.timeline-thursday {
  background-color: #b2f7fc;
}
.timeline-friday {
  background-color: #ceffff;
}
.timeline-saturday {
  background-color: #d4fcfc;
}

.timeline-monday.dark-mode {
  background-color: #1f2d56;
}
.timeline-tuesday.dark-mode {
  background-color: #172248;
}
.timeline-wednesday.dark-mode {
  background-color: #101739;
}
.timeline-thursday.dark-mode {
  background-color: #080b2b;
}
.timeline-friday.dark-mode {
  background-color: #00001c;
}
.timeline-saturday.dark-mode {
  background-color: #000013;
}

@media (max-width: 800px){
  .nav-list{
    background-color: #008db1;
  }

  .nav-list.dark-mode{
    background-color: #101739;
  }
}