.switch-mode-margin {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.switch-mode {
  display: flex;
  justify-content: baseline;
}

.checkbox {
  opacity: 0;
  position: relative;
}

.label {
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  height: 26px;
  width: 60px;
  transform: scale(0.8);
}

.label .switch-button {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 26px;
  width: 26px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .switch-button {
  transform: translateX(34px);
}

.fa-moon {
  fill: #fff;
}

.fa-sun {
  fill: #fff;
}

/*Dark mode button style dark mode*/

body {
  background-color: #E4E9F2;
  color: #000;
  transition: 0.2s linear;
}

body.dark {
  background-color: #0D0D0D;
  color: #F2F2F2;
}

/*Body dark mode*/

.header {
  background-color: transparent;
  padding-inline: 16px;
  transition: 0.2s linear;
}

.header.dark-mode {
  background-color: transparent;
}

.label {
  background-color: #3321A6;
  transition: 0.2s linear;
}

.label.dark-mode {
  background-color: #B796D9;
}

.nav {
  border-bottom: 1px solid #2D4BA6;
}

.nav.dark-mode{
  border-bottom: 1px solid #B796D9;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited{
  color: #2D4BA6;
}

.nav-list a:hover{
  color: #04D9B2;
}

.nav-list.dark-mode a,
.nav-list.dark-mode a:link,
.nav-list.dark-mode a:visited{
  color: #B796D9;
}

.nav-list.dark-mode a:hover {
  color: #EEF26D; 
}

.home-icon path{
  fill: #2D4BA6;
  transition: 280ms;
}

.home-icon:hover path{
  fill: #04D9B2;
}

.dark-mode .home-icon path{
  fill: #B796D9;
  transition: 280ms;
}

.dark-mode .home-icon:hover path {
  fill: #EEF26D; 
}

.burguer::after,
.burguer::before{
  background: #2D4BA6;
}

.dark-mode .burguer{
  border-top: 3px solid #B796D9;
}
.dark-mode .burguer::after,
.dark-mode .burguer::before{
  background: #B796D9;

}

/*Nav bar style dark mode*/

.timeline-monday {
  background-color: #2D4BA6;
  color: #E4E9F2;
}
.timeline-tuesday {
  background-color: #2D4BA6;
  color: #E4E9F2;
}
.timeline-wednesday {
  background-color: #2D4BA6;
  color: #E4E9F2;
}
.timeline-thursday {
  background-color: #2D4BA6;
  color: #E4E9F2;
}
.timeline-friday {
  background-color: #2D4BA6;
  color: #E4E9F2;
}
.timeline-saturday {
  background-color: #2D4BA6;
  color: #E4E9F2;
}

.timeline-monday.dark-mode {
  background-color: #4E2973;
}
.timeline-tuesday.dark-mode {
  background-color: #4E2973;
}
.timeline-wednesday.dark-mode {
  background-color: #4E2973;
}
.timeline-thursday.dark-mode {
  background-color: #4E2973;
}
.timeline-friday.dark-mode {
  background-color: #4E2973;
}
.timeline-saturday.dark-mode {
  background-color: #4E2973;
}

/*concurso caixa page dark mode*/

@media (max-width: 800px){
  .nav-list{
    background-color: #E4E9F2;
  }

  .nav-list.dark-mode{
    background-color: #4E2973;
  }
}

.btn-links,
.btn-links:link,
.btn-links:visited{
  background-color: #2D4BA6;
  color: #E4E9F2;
  transition: 280ms;

}

.btn-links:hover{
  background-color: #04D9B2;
  color: #070A40;

  box-shadow: 0px 0px 4px 6px rgba(4,217,178,0.25);
}

.dark .btn-links,
.dark .btn-links:link,
.dark .btn-links:visited {
  background-color: #4E2973; 
  color:  #F2F2F2; 
  transition: 280ms;
}

.dark .btn-links:hover{
  background-color: #EEF26D;
  color:  #4E2973;

  box-shadow: 0px 0px 4px 6px rgba(237, 242, 109, 0.25);

  /*Menu mobile design dark mode*/
}

.div--separator-content{
  border-top: 1px solid #2D4BA6;
}

.dark .div--separator-content{
  border-top: 1px solid #B796D9;
}

/*Div separator dark mode*/

.txt--updates a:visited,
.txt--updates a:link{
  color: #000;
}

.dark .txt--updates a:visited,
.dark .txt--updates a:link {
  color: #f2f2f2;
}