.mn--container-main-page{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;

    display: flex;
    justify-content: center;

    margin-top: 50px;
    margin-inline: 50px;
    height: 100%;
}

.mn-container--apresentation-margin-left{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 30%;
    max-width: 901.5px;
    max-height: 980px;
}

.mn--box-title-apresentation{
    max-width: 520px;
    max-height: 270px;
    width: 100%;
    height: 100%;
}

.box--title-time,
.box--title-line{
    font-family: "Comfortaa", sans-serif;
    font-size: 57px;
    font-weight: 900;
}

.box--title-time{
    display: flex;
}

.box--title-line{
    display: flex;
    justify-content: end;
}

.div--separator-content{
    margin: 40px;
}

.box--list-information ul{
    font-size: 15px;
}

.mn--box-image-apresentation{
    align-items: center;
    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 901.5px;
}

.ol--style-list li{
    margin: 10px;
}

@media (max-width: 750px){
    .mn--container-main-page{
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .mn-container--apresentation-margin-left{
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .mn--box-image-apresentation{
        display: none;
    }

    .box--title-time,
    .box--title-line{
        font-family: "Comfortaa", sans-serif;
        font-size: 50px;
        font-weight: 900;
    }
}

@media (min-width: 768px) and (max-width: 1150px){
    .mn--container-main-page{
        align-items: center;
        font-size: 14px;
    }

    .mn-container--apresentation-margin-left{
        width: 45%;
    }

    .mn--box-image-apresentation{
        display: flex;
        justify-content: center;

    
    }

    .box--title-time,
    .box--title-line{
        font-family: "Comfortaa", sans-serif;
        font-size: 40px;
        font-weight: 900;
    }

    .box--list-information ul{
        font-size: 13px;
    }

}

@media (min-width: 1200px) and (max-width: 1290px){

    .mn--container-main-page{
        height: 100vh;
        max-width: 1230vw;
    }

    .mn-container--apresentation-margin-left{
        width: 50%;
    }

    .box--title-time,
    .box--title-line{
        font-family: "Comfortaa", sans-serif;
        font-size: 57px;
        font-weight: 900;
    }

    .mn--box-image-apresentation{
        display: flex;
        max-width: 1280px;
        height: 100vh;
    }

    .box--list-information ul{
        font-size: 15px;
    }

}

