*{
    margin: 0;
    padding: 0;
}

.mn--container-main-page{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;

    display: flex;
    margin-inline: 50px;

    height: 100%;
    max-width: 1920px;
    max-height: 980px;
}

.mn-container--apresentation-margin-right{
    margin-top: 50px;
    display: flex;
    justify-content: center;

    width: 43%;
    height: 85vh;
    max-width: 1920px;
    max-height: 980px;
}

.mn--box-title-apresentation{
    max-width: 520px;
    max-height: 270px;
    width: 100%;
    height: 100%;
}

.box--title-time,
.box--title-line{
    font-family: "Comfortaa", sans-serif;
    font-size: 57px;
    font-weight: 900;
}

.box--title-time{
    display: flex;
}

.box--title-line{
    display: flex;
    justify-content: end;
}

.div--separator-content{
    margin: 40px;
    border-top: 1px solid #000;
}

.box--list-information ul{
    font-size: 13px;
}

.mn--box-image-apresentation{
    height: 100%;
    width: 100%;
    max-width: 1350px;
    max-height: 965px;
}